{% extends 'partials/base.html' %}

{% block title %}Tickets pausados{% endblock %}
{% block content %}
<div class="container mt-4 mb-2 d-flex flex-row justify-content-end">
    <div class="row">
        <div class="col">
            <a class="btn btn-success" href="{% url 'add' %}">Criar Ticket</a>
        </div>
    </div>
</div>
<div class="container mt-4">
    <div class="row">
        <div class="col">
            <table class="table bg-withe mt-4 table-striped">
                <thead class="bg-info text-white">
                    <tr class="text-white">
                        <td>Titulo</td>
                        <td>Prioridade</td>
                        <td>Descrição</td>
                        <td>Created at</td>
                        <td>Updated at</td>
                        <td>User</td>
                        <td>Status</td>
                        <td></td>
                        <td></td>

                        
                    </tr>
                </thead>
                <tbody>
                    {% for ticket in tickets %}
                    <tr>
                        <td>{{ticket.titulo}}</td>
                        <td>{{ticket.prioridade}}</td>
                        <td>{{ticket.descricao}}</td>
                        <td>{{ticket.created_at}}</td>
                        <td>{{ticket.updated_at}}</td>
                        <td>{{ticket.staff}}</td>
                        <td>{{ticket.status}}</td>
                        <td><a href=""><span><i class="fas fa-edit"></i></span></a></td>
                        <td><a href="" class="delete-btn"><span><i class="fas fa-trash"></i></span></a></td>
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}