footer p a {
	margin: 5px 15px;
}

#ab {
	text-decoration: none;
	color: white;
}
#ac {
	text-decoration: none;
	color: white;
}
#fz {
	text-decoration: none;
	color: white;
}
#fi {
	text-decoration: none;
	color: white;
}
#pa {
	text-decoration: none;
	color: white;
}
#ex {
	text-decoration: none;
	color: white;
}

.fas.fa-edit{
    color: #13c43f;
}
.fas.fa-trash{
    color: #db1e47;
}

