{% load crispy_forms_tags %}
{%block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Login</h1>
    <div class="container"  id="area">
        <div class="row">
            <div class="col">
                <div class="">
                    <form method="POST" id="form">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input class="btn btn-success btn-block" type="submit" value="Enviar">
                    </form>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>
{% endblock %}